/* Table */
th {
  font-size: 24px;
}

.centered-orange {
  text-align: center;
  margin-top: 1em;
  color: #FF5733;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

.container {
  border: 2px solid #333;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quarto-figure {
  margin-bottom: 0;
}

:root {
  --r-block-margin: 5px;
}

.custom-title-slide h1 {
  position: relative;
  top: 5vh;
}

.custom-title-slide .quarto-title-author-name {
  position: relative;
  top: 5vh;
}

.reveal .slide-background-content {
  background-position: 50% 80%;
}
.reveal a {
  color: #9BBD2E !important;
}

.reveal a:hover {
  color: #7b9725 !important;
}
